@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
		margin: 0;
		background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,203,72,1) 0%, rgba(0,255,228,1) 83%);
}
.header {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,203,72,1) 0%, rgba(0,255,228,1) 83%);
	display: flex;
	justify-content: space-between;
	align-content: center;
}

logo img {
	max-width: 200px;
}
.header__menu {
	margin-right: 30px;
}
.header__menu ul {
		display: none;
		list-style: none;
		padding: 0px;
		position: absolute;
		width: auto;
		text-align: right;
		margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover {
display: block;
}
.header__menu li {
	margin: 10px 0px;
}
.header__menu li a {
	color: ivory;
	text-decoration: none;
}
.header__menu li a:hover {
	text-decoration: underline;
}
.header__menu--profile {
	margin-right: 8px;
	display: flex;
}
.header__menu--profile img {
	margin-right: 10px;
	width: 50px;
}
.header__menu--profile p {
	color: ivory;
	margin-right: 8px;
}